{% extends 'base.html' %}

{% block main_content %}
    <div class="add">
        <br />
        <h2 class="h2 text-center">Add New Product</h2>
        <br />
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            
            <div class="d-flex mx-auto justify-content-center mt-3">
                <button class="btn mx-2" type="submit" name="save">Save</button>
                <button class="btn mx-2" type="submit" name="save_and_new">Save & New</button>
                <button class="btn mx-2" type="reset">Decline</button>
            </div>
        </form>
        <br /><br />
    </div>
{% endblock %}

